@charset "UTF-8";

div.product {
   display: flex;
   align-items: center;   
}

div.product:nth-of-type(even) {
   border: solid thin #F7F7F7;
   background-color : #F7F7F7;
}
div.product:nth-of-type(odd) {
   border: solid thin #E6F1FB;
   background-color: #E6F1FB;
}
div.product:hover {
   border : solid thin rgb(85, 0, 255);
}

.petit {
   font-size : smaller;
}
.info {
   width: 70%;
   position: relative;
}
.name {
   padding : 2px;
   color : #1a1a2e
}

.description {
   font-size: smaller;
   padding: 0px 4px;
   color: #64748b;
}

.price {
   padding : 0px 3px;
   margin : 0px 15px;
   text-align : center;
   font-size : large;
   font-weight : bold;
   color: #185FA5;
}
.price:not(#gift .price)::after{
   content: '€';
   padding-left: 1px;
}

#gift .price{
   font-size : medium;
   margin: 0px 7px;
}

.weight {
   position : absolute;
   right : 3px;
   top : 3px;
   font-size : smaller;
   font-style: italic;
   color : #64748b;
   margin: 0px 3px;   
}

.weight::after {
   content: 'g';
   padding-left: 1px;
}

.stock {
   font-weight : bold;
   padding-left: 4px;
   margin : 0px 10px;
   text-align : center;
   color: #64748b;
}


.imageProduit img {
   border : solid 2px rgb(128,128,256);
   border-radius : 6px;
   width : 48px;
}